@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
    background: #262525;
    color: #7c8081;
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}

a {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #3fb1a3;
    text-decoration: none;
    border-bottom: dotted 1px;
}

a:hover {
    border-bottom-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    text-transform: uppercase;
}

h1 a {
    color: #C1171C;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
}


@media screen and (max-width: 980px), screen and (max-width: 840px), screen and (max-width: 736px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
        margin: -30px -30px;
    }

    .row > * {
        box-sizing: border-box;
        padding: 30px 0 0 30px;
    }

    .row.gtr-0, .row.gtr-25, .row.gtr-50, .row.gtr-150, .row.gtr-200 {
        margin-top: calc(-30px * var(--gtr-multiplier, 1));
        margin-left: calc(-30px * var(--gtr-multiplier, 1));
    }

    .row.gtr-0 > *, .row.gtr-25 > *, .row.gtr-50 > *, .row.gtr-150 > *, .row.gtr-200 > * {
        padding: calc(30px * var(--gtr-multiplier, 1)) 0 0 calc(30px * var(--gtr-multiplier, 1));
    }

    /* Positioning */
    .row.aln-left { justify-content: flex-start; }
    .row.aln-center { justify-content: center; }
    .row.aln-right { justify-content: flex-end; }
    .row.aln-top { align-items: flex-start; }
    .row.aln-middle { align-items: center; }
    .row.aln-bottom { align-items: flex-end; }

    /* Columns */
    [class*="col-"]:not(.off-*) {
        width: calc((100% / 12) * var(--col-factor, 1));
    }

    [class*="off-"] {
        margin-left: calc((100% / 12) * var(--off-factor, 1));
    }
}


/* Section/Article */
section.special, article.special {
    text-align: center;
}

header.major {
    padding-bottom: 2em;
}

header.special {
    margin-bottom: 5em;
    padding-top: 7em;
    position: relative;
    text-align: center;
}

header.special h2, header.special h3 {
    margin-bottom: 0;
    font-weight: 100;
    font-size: 45px;
}

header.special h2 {
    text-transform: lowercase;
    color: #fff;
    text-align: left;
}

header.special h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: right;
}

header.special .icon {
    cursor: default;
    height: 7em;
    position: absolute;
    top: 1em;
    width: 100%;
}

header.special .icon:before {
    font-size: 3.5em;
    opacity: 0.35;
}

footer.major {
    padding-top: 3em;
}

/* Form */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    transition: background-color 0.2s, border-color 0.2s;
    background: none;
    border: solid 1px rgba(124, 128, 129, 0.2);
    padding: 0.75em;
    width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #83d3c9;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

/* Image */
.image {
    position: relative;
}

.image:before {
    background: url("images/overlay.png");
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
}

.image.fit img,
.image.featured img {
    display: block;
    width: 100%;
}

/* Icon */
.icon {
    position: relative;
}

.icon:before {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.icon.circle {
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    line-height: 2.25em;
    text-align: center;
}

.icon.circle:hover {
    top: -0.2em;
}

.icon.circle.fa-twitter { background: #70aecd; color: #fff; }
.icon.circle.fa-facebook-f { background: #7490c3; color: #fff; }
.icon.circle.fa-google-plus-g { background: #db6b67; color: #fff; }
.icon.circle.fa-github { background: #dcad8b; color: #fff; }
.icon.circle.fa-dribbble { background: #da83ae; color: #fff; }

.icon.featured {
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
}

.icon.featured:before {
    font-size: 5em;
}

/* Lists */
ol {
    list-style: decimal;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

/* Icons */
ul.icons {
    list-style: none;
    padding-left: 0;
    cursor: default;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}

ul.icons li:first-child {
    padding-left: 0;
}

/* Featured Icons */
ul.featured-icons {
    cursor: default;
    opacity: 0.35;
    list-style: none;
    padding-left: 0;
}

ul.featured-icons li {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
    margin-bottom: 1em;
}

ul.featured-icons li .icon {
    display: inline-block;
    font-size: 5.5em;
    line-height: 1.5em;
}

/* Buttons */
ul.buttons {
    list-style: none;
    padding-left: 0;
    cursor: default;
}

ul.buttons li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

ul.buttons li:first-child {
    padding: 0;
}

ul.buttons.stacked li {
    display: block;
    padding: 1.5em 0 0 0;
}

/* Table */
table {
    width: 100%;
}

table.default {
    width: 100%;
}

table.default tbody tr {
    border-bottom: solid 1px rgba(124, 128, 129, 0.2);
}

table.default td, table.default th {
    padding: 0.5em 1em;
}

table.default th {
    font-weight: 400;
    text-align: left;
}

table.default thead {
    background: #7c8081;
    color: #fff;
}


/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		background: none;
		border: solid 1px;
		border-radius: 0;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 900;
		letter-spacing: 2px;
		min-width: 18em;
		padding: 0 0.75em;
		line-height: 3.75em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background: rgba(188, 202, 206, 0.15);
			border-color: inherit;
		}

		input[type="button"].primary,
		input[type="submit"].primary,
		input[type="reset"].primary,
		button.primary,
		.button.primary {
			background: #83d3c9;
			border-color: #83d3c9;
			color: #fff !important;
		}

			input[type="button"].primary:hover,
			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background: #96dad1 !important;
				border-color: #96dad1 !important;
			}

		input[type="button"].fit,
		input[type="submit"].fit,
		input[type="reset"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="button"].small,
		input[type="submit"].small,
		input[type="reset"].small,
		button.small,
		.button.small {
			font-size: 0.7em;
			min-width: 14em;
			padding: 0.5em 0;
		}

/* Wrapper */

	.wrapper {
		margin-bottom: 5em;
		padding: 5em;
	}

		.wrapper.style1 {
			padding: 0;
		}

		.wrapper.style2 {
			background-color: #83d3c9;
			background-image: url("images/light-bl.svg"), url("images/light-br.svg");
			background-position: bottom left, bottom right;
			background-repeat: no-repeat, no-repeat;
			background-size: 25em, 25em;
			color: #fff;
		}

			.wrapper.style2 input[type="button"]:hover,
			.wrapper.style2 input[type="submit"]:hover,
			.wrapper.style2 input[type="reset"]:hover,
			.wrapper.style2 button:hover,
			.wrapper.style2 .button:hover {
				background: rgba(255, 255, 255, 0.15) !important;
			}

			.wrapper.style2 input[type="button"].primary,
			.wrapper.style2 input[type="submit"].primary,
			.wrapper.style2 input[type="reset"].primary,
			.wrapper.style2 button.primary,
			.wrapper.style2 .button.primary {
				background: #fff;
				border-color: #fff;
				color: #83d3c9 !important;
			}

				.wrapper.style2 input[type="button"].primary:hover,
				.wrapper.style2 input[type="submit"].primary:hover,
				.wrapper.style2 input[type="reset"].primary:hover,
				.wrapper.style2 button.primary:hover,
				.wrapper.style2 .button.primary:hover {
					border-color: inherit !important;
					color: #fff !important;
				}

		.wrapper.style3 {
			background: #fff;
			color: inherit;
		}

		.wrapper.style4 {
			background: #fff;
			color: inherit;
			padding: 4em;
		}

/* Header */

@keyframes reveal-header {
    0% { top: -5em; }
    100% { top: 0; }
}

#header {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    color: inherit;
    cursor: default;
    font-size: 0.8em;
    left: 0;
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    font-weight: 900;
    margin: 0;
}

#header h1 span {
    font-weight: 300;
}

#header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    margin-top: 40rem;
    transform: rotate(90deg);
    transform-origin: center right;
    text-transform: uppercase;
}

#header nav ul {
    list-style: none;
    padding-left: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1.5em;
}

#header nav ul li a {
    border: solid 1px transparent;
    color: inherit;
    display: inline-block;
    line-height: 1em;
    padding: 0.6em 0.75em;
    text-decoration: none;
}

#header nav ul li.submenu > a:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    margin-right: 0.65em;
}

#header nav ul li.active > a,
#header nav ul li:hover > a {
    text-decoration: underline;
}

#header.reveal {
    animation: reveal-header 0.5s;
}

#header.alt {
    animation: none;
    background: transparent;
    box-shadow: none;
    color: #fff;
    padding: 2em 2.5em;
    position: absolute;
}

#header.alt nav {
    right: 2.5em;
    top: 1.75em;
}

#header.alt nav ul li.active > a,
#header.alt nav ul li:hover > a {
    border: solid 1px;
}



/* Banner */

@keyframes reveal-banner {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

	#banner {
		background-attachment:fixed;
		background-color: #3c3838;
		background-image:url("../../images/hero.JPEG");
		background-position: 0% 30%;
		background-repeat:no-repeat;
		background-size:cover;
		color: #e40606;
		cursor: default;
		padding: 18em 0;
		text-align: left;
	}

	#banner header h2 {
		font-size: 5em;
    	color: #fff;
		padding: 3rem;
		font-weight: 500;
		letter-spacing: 0.3em;
		margin: 0;
		padding-left: 0.05em;
		position: relative;
		margin-left: 60px;
		text-transform: lowercase;
	}

		#banner .inner {
			opacity: 1;
			animation: none;
			color: #fff;
			display: inline-block;
			opacity: 0;
			padding: 3em;
			text-align: left;
		}

			

				#banner .inner header h2 {
					animation: none;					
					font-size: 3em; /* Muuda väiksemaks */
    				background-color: rgba(255, 255, 255, 0.5);
					font-weight: 600;
					letter-spacing: 0.2em;
					margin: 0;
					padding-left: 0.05em;
					position: relative;
					
				}

			#banner .inner p {
				letter-spacing: 0.1em;
				margin: 0;
				
			}

				#banner .inner p a {
					color: inherit;
					font-weight: 400;
					text-decoration: none;
				}

			#banner .inner footer {
				margin: 2em 0 0 0;
			}

/* Main */

	#main {
		background-repeat: no-repeat;
	
	}

		#main p {
			text-transform: none;
		}

		#main > :last-child {
			margin-bottom: 0;
		}


			#main .sidebar section:first-child {
				border-top: 0;
				padding-top: 0;
				margin-top: 0;
			}

	body.index #main {
		padding-top: 5em;
	}

	#cta h2 {
		text-transform: lowercase;
		font-size: 3rem;
	}

	.special.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		
	}

	.about-box {
		position: relative;
		padding-top: 100px;
		padding-left: 80px;
		padding-right: 80px;
		padding-bottom: 100px;
		border: 1px solid white;
		display: inline-block;
		text-transform: lowercase;
	}
	
	.about-box::before {
		content: '';
		position: absolute;
		top: -15px;
		left: -15px;
		right: -15px;
		bottom: -15px;
		border: 2px solid white;
		z-index: -1;
	}
	
	.content-box {
		max-width: 60%;
		text-align: right;
	}
	
	h2 {
		margin: 0;
	}
	
	p {
		margin-top: 10px;
	}

	.about-image {
		max-width: 100%;
		height: auto;
	}

	@media (max-width: 980px) {
		.carousel-inner .row {
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
		}
	
		.carousel-item .col-12 {
			flex: 0 0 100%;
			max-width: 100%;
		}
	
		.carousel-item .col-md-4 {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	.carousel {
		position: relative;
	}

	.caption-container {
		position: relative;
		bottom: 20px;
		text-align: center;
		padding-top: 60px;
		color: white;
		text-transform: lowercase;
	}

	.carousel-control-prev,
	.carousel-control-next {
		position: absolute; 
		top: 80%; 
		transform: translateY(-50%); 
		z-index: 15; 
	}

	.carousel-control-prev {
		left: 10px; 
	}

	.carousel-control-next {
		right: 10px; 
	}


	.blurred {
		filter: blur(5px);
	}

	#footer {
	
		padding: 20px;
		background-color: #333; 
		color: #fff;
	}
	
	.footer-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	
	.footer-image {
		flex: 0 0 50%;
	}
	
	.footer-image img {
		width: 100%;
		height: auto; 
		padding-left: 10%;
	}
	
	.footer-info {
		flex: 1;
		text-align: center;
		padding-left: 20px;
		display: flex;
		flex-direction: column;
	}

	.career-icons {
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.white-icon {
		filter: brightness(0) invert(1);
	}
	

/* CTA */

	#cta {
		background-image:url("../../images/hero.JPEG");
		background-position:center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		padding: 5em;
		text-align: center;
	}
		#cta header {
			margin-bottom: 2em;
		}

/* Footer */


/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 14pt;
			}

		/* Section/Article */

			header.special {
				padding-top: 5.5em;
				margin-bottom: 4em;
			}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
				letter-spacing: 0.025em;
				line-height: 1.65em;
			}

			h1, h2, h3, h4, h5, h6 {
				line-height: 1.5em;
			}

		/* Section/Article */

			header.major {
				padding-bottom: 1.5em;
			}

			footer.major {
				padding-top: 2em;
			}

		/* Wrapper */

			.wrapper {
				margin-bottom: 4em;
				padding: 4em 3em;
			}

				.wrapper.style4 {
					padding: 3em;
				}

		/* Header */

			#header nav ul li {
				margin-left: 1em;
			}

		/* Banner */

			#banner {
				background-attachment: fixed;
			}

		/* CTA */

			#cta {
				padding: 4em;
				background-attachment: scroll;
			}

		/* Footer */

			#footer {
				padding: 4em;
			}

	}

/* Narrow */

	@media screen and (max-width: 980px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
				letter-spacing: 0.025em;
				line-height: 1.5em;
			}

		/* Section/Article */

			header br {
				display: none;
			}

			header.major {
				padding-bottom: 1em;
			}

			header.special {
				padding-left: 2.5em;
				padding-right: 2.5em;
			}

			footer.major {
				padding-top: 1.5em;
			}

		/* Wrapper */

			.wrapper {
				margin-bottom: 3em;
				padding: 3em 2.5em;
			}

				.wrapper.special br {
					display: none;
				}

				.wrapper.style1 {
					padding: 0 2.5em;
				}

				.wrapper.style2 {
					background-size: 15em;
				}

				.wrapper.style4 {
					padding: 2.5em;
				}

		/* Banner */

			#banner {
				background-size:cover;
			}

		/* Main */

			#main {
				background-size: 15em;
			}

		/* CTA */

			#cta {
				background-size: cover;
				padding: 3em;
			}

	}

/* Narrower */

	#navPanel, #navButton {
		display: none;
	}

	@media screen and (max-width: 840px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			header.major {
				padding-bottom: 0.25em;
			}

			header.special {
				margin-bottom: 4em;
				padding-top: 5em;
			}

				header.special:before, header.special:after {
					width: 40%;
				}

				header.special h2 + p {
					padding-top: 1.25em;
				}

		/* Section/Article */

			section {
				margin: 1em 0 1em 0;
			}

				section:first-child {
					margin-top: 0;
				}

		/* Button */

			input[type="button"].small,
			input[type="submit"].small,
			input[type="reset"].small,
			button.small,
			.button.small {
				font-size: 0.8em;
				min-width: 18em;
				padding: 0.75em 0;
			}

		/* Featured Icons */

			ul.featured-icons {
				margin: 0;
			}

				ul.featured-icons li {
					display: inline-block;
					float: none;
					width: auto;
				}

					ul.featured-icons li .icon {
						font-size: 4em;
						width: 1.25em;
					}

		/* Buttons */

			ul.buttons li {
				display: block;
				padding: 1em 0 0 0;
			}

		/* Header */

			#header {
				display: none;
			}

		/* Banner */

			#banner {
				background-size: cover;
			}

		/* Wrapper */

			.wrapper.special-alt {
				text-align: center;
			}

			.wrapper.style4 {
				padding-bottom: 3em;
			}

		/* Main */

			#main {
				padding: 5em 0;
			}

				#main .sidebar {
					border-top: solid 1px rgba(124, 128, 129, 0.1);
					padding-top: 3em;
				}

					#main .sidebar section {
						border-top: 0;
						padding-top: 0;
					}

			body.index #main {
				padding-top: 4.5em;
			}

		/* CTA */

			#cta {
				background-size: cover;
			}

		/* Footer */

			#footer {
				padding: 4em 1.5em;
			}

		/* Nav */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#navButton {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 60px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
			}

				#navButton .toggle {
					text-decoration: none;
					height: 60px;
					left: 0;
					position: absolute;
					text-align: center;
					top: 0;
					width: 100%;
					border: 0;
					outline: 0;
				}

					#navButton .toggle:before {
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						line-height: 1;
						text-transform: none !important;
						font-family: 'Font Awesome 5 Free';
						font-weight: 900;
					}

					#navButton .toggle:before {
						color: #fff;
						content: '\f0c9';
						font-size: 1em;
						height: 40px;
						left: 10px;
						line-height: 40px;
						opacity: 0.5;
						position: absolute;
						top: 11px;
						width: 60px;
						z-index: 1;
					}

					#navButton .toggle:after {
						background: rgba(163, 169, 170, 0.75);
						border-radius: 2px;
						content: '';
						height: 40px;
						left: 10px;
						position: absolute;
						top: 10px;
						width: 60px;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #1c2021;
				color: #fff;
				font-size: 0.8em;
				letter-spacing: 0.075em;
				text-transform: uppercase;
				padding: 0.25em 0.75em 1em 0.75em;
			}

				#navPanel .link {
					border: 0;
					border-top: solid 1px rgba(255, 255, 255, 0.05);
					color: inherit;
					display: block;
					height: 3em;
					line-height: 3em;
					opacity: 0.75;
					text-decoration: none;
				}

					#navPanel .link.depth-0 {
						font-weight: 900;
					}

					#navPanel .link:first-child {
						border-top: 0;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navButton {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body {
				min-width: 320px;
			}

			h2 {
				font-size: 1.25em;
				letter-spacing: 0.1em;
			}

			h3 {
				font-size: 1em;
				letter-spacing: 0.025em;
			}

			p {
				text-align: justify;
			}

		/* Section/Article */

			header {
				text-align: center;
			}

				header.major {
					padding-bottom: 0;
				}

				header.special {
					margin-bottom: 3em;
					padding-left: 1.5em;
					padding-right: 1.5em;
				}

					header.special:before, header.special:after {
						width: 38%;
					}

					header.special .icon {
						font-size: 0.75em;
						top: 1.5em;
					}

				header p {
					text-align: center;
				}

			footer.major {
				padding-top: 0;
			}

		/* Icon */

			.icon.circle {
				font-size: 1em;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				max-width: 20em;
				width: 100%;
			}

				input[type="button"].fit,
				input[type="submit"].fit,
				input[type="reset"].fit,
				button.fit,
				.button.fit {
					width: auto;
				}

		/* Icons */

			ul.icons li {
				padding-left: 0.25em;
			}

		/* Featured Icons */

			ul.featured-icons li .icon {
				width: 1.1em;
			}

		/* Buttons */

			ul.buttons {
				text-align: center;
			}

		/* Wrapper */

			.wrapper {
				margin-bottom: 2.5em;
				padding: 2.25em 1.5em;
			}

				.wrapper.special br {
					display: none;
				}

				.wrapper.style1 {
					padding: 0 1.5em;
				}

				.wrapper.style2 {
					background-size: 10em;
					padding: 2.25em 1.5em;
				}

				.wrapper.style4 {
					background-size: 10em;
					padding: 1.5em 1.5em 3em 1.5em;
				}

		/* Banner */

			#banner {
				background-size:cover;
				padding: 6em 0;
			}

				#banner .inner {
					background: none;
					display: block;
					padding: 0 1.5em;
				}

					#banner .inner header h2 {
						font-size: 1.5em;
					}

					#banner .inner p {
						text-align: center;
					}

					#banner .inner br {
						display: none;
					}

		/* Main */

			#main {
				background-size: 10em;
				padding: 3.5em 0 2.5em 0;
			}

			body.index #main {
				padding: 2.5em 0 0 0;
			}

			body.contact #main {
				padding-bottom: 0;
			}

		/* CTA */

			#cta {
				background-size: cover;
			}

		/* Footer */

			#footer {
				padding: 3em 1.5em;
			}

				#footer .copyright li {
					display: block;
					margin: 1em 0 0 0;
					padding: 0;
					border: 0;
				}

		/* Nav */

			#navButton .toggle:before {
				top: 8px;
				left: 8px;
				width: 50px;
				height: 34px;
				line-height: 34px;
			}

			#navButton .toggle:after {
				top: 8px;
				left: 8px;
				width: 50px;
				height: 34px;
			}
	}